.book-box {
    height: 200px;
    width: 160px;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #0505058c;
    opacity: 0.87;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poiret One", cursive;
}

.ttl-author-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background-color: #d16868e3;
}

.book-title {
    font-size: 20px;
    display: flex;
    font-weight: bolder;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(250, 245, 245);
}

.book-author {
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    color: black;
       
}


.bk-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.bk-done-container {
    display: flex;
    justify-content: space-between;
    
    
}


.book-done {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(250, 245, 245);
    background-color: #252525d7;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.bk-done-container > button {
    width: 80px;
}