header {
    height: 100px;
    width: 100%;
    background-color: rgb(62, 95, 104);
    margin-top: 40px;
    position: fixed;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
    /* border-color: rgb(40, 61, 66); */
    border-width: medium;
    border-left: 0;
    border-right: 0;
    

}

/* Update font styling. */
p {
    color: white;
    font-size: 68px;
    font-family: sans-serif;
    display: flex;
   
}